@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Mono:ital,wght@0,300..700;1,300..700&display=swap');
:root {
	--background: #0b1923;
	--text_color: #e7e7e7;
	--accent: #609f5b;
	--accent_two: #54889f;
}

/* Dark theme always */
body {
	font-family: "Red Hat Mono", monospace;
	font-optical-sizing: auto;
	color: var(--text_color);
	background-color: var(--background);
}
